.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    
}

.container-content {
  width: 100%;
  max-width: 55rem;
  height: 100%;
  min-height: 32rem;
  border-radius: 3px;
  box-shadow: 0px 8px 10px 1px rgba(0, 0, 0, .14), 0px 3px 14px 2px rgba(0, 0, 0, .12), 0px 5px 5px -3px rgba(0, 0, 0, .2);

}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #041e49;
    background: #f2f6fc;  
    letter-spacing: normal;
    font-weight: 700;
    height: auto;
    padding: 10px 16px; /* Ajustando padding para cima e para baixo e esquerda e direita */

}
.btn-screen {
    border: none;
    padding: 0;
    background: none;
}
.img-tools {
    padding-right: 7px;
    width: 15px;
    height: 15px;
}

.sendEmail {
    padding: 0 16px;
}
.sender {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
#toPersonInput {
    width: 100%;
    min-width: 15rem;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    padding: 10px;
}
#toPersonInput:focus {
    outline: none;
}
.bodyEmail {
    border-radius: 1px;
    box-sizing: border-box;
    display: none;
    transition: none;
    margin: 16px;
}

.textEmail:focus {
    outline: none;
    border: none;
}

.toolsForEdit {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    height: 32px;
    padding: 12px 0 16px;
}

.btn-send  {
    background-color: #0b57d0;
    padding: 10px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 1px black solid;
    cursor: pointer;
    color: white;
    font-weight: 700;
    font-size: 14px;
}
.sendOrScheduleOption {
    display: flex;
    flex-direction: row;
    background-color: #0b57d0;
    border-radius: 20px;
    align-items: center;
    width: 100%;
    max-width: 6rem;
    margin-left: 50px;
}
.sendOrScheduleOption:hover {
    box-shadow: 0 1px 2px 0 rgba(26, 115, 232, 0.451), 0 1px 3px 1px rgba(26, 115, 232, 0.302);
    outline: 1px solid transparent;
    border: none;
    background-color: #1b61d1;
}

.hG>.dropdown-icon {
    background-image: url(https://www.gstatic.com/images/icons/material/system_gm/1x/arrow_drop_down_white_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    border: none;
    height: 20px;
    margin: 0 0 0 auto;
    position: relative;
    right: 0;
    top: 0;
    width: 20px;
    margin: 0 0 0 9px;
}
#seta-rotate {
    transition: transform 0.5s ease;
}

.hG:hover {
    opacity: 0.50;
}

.personalizingEmail {
    display: inline-flex;
     align-items: center; 
     height: 36px;
      background: white; 
      overflow: hidden; 
      font-size: 14px; 
      line-height: 1.2; 
      border-radius: 8px; 
      box-shadow: rgba(0, 0, 0, 0.07) 0px 16px 24px 0px, rgba(0, 0, 0, 0.1) 0px 2px 6px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; 
      pointer-events: auto;
     padding: 4px;
}

.dv {
    display: flex;
      gap: 9px;
}
.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.aaA.eY {
    background-image: url(https://www.gstatic.com/images/icons/material/system_gm/1x/format_size_black_20dp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
}


.aaA {
    height: 21px;
    width: 21px;
    vertical-align: middle;
    opacity: .71;
    margin: 2px 0;
}
.og {
    background-image: url(https://cdn-icons-png.flaticon.com/512/64/64022.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    opacity: 1;
    display: inline-block;
    height: 20px;
    margin: 17px;
    padding: 0;
    transition: opacity 0.15s cubic-bezier(0.4,0,0.2,1);
    width: 15px;
    margin-left: auto;
}
.og:hover {
    opacity: 0.50;
}