* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Play, Helvetica, Arial, sans-serif;
}

body {
  font-size: 13px;
  line-height: 1.42857;
}
.form-group {
  display: flex;
  align-items: center;
  gap: 3px;
  margin-bottom: 15px;
}

.partEntrar {
  margin-left: 4rem;
  margin-top: 8%;
  width: 100%;
  max-width: 35rem;
  padding: 20px;
}

.page-header {
  border-bottom: 0px;
  padding-bottom: 0;
}

.form-control {
  width: 100%;
  height: 38px;
  font-size: 13px;
  padding: 8px 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.bodyContent {
  display: flex;
}

h1 {
  font-size: 30px;
  margin-top: 20px;
  margin: 0.67em 0;
}

.enter {
  color: #427dd7;
}

.enter:hover {
  color: #519ac4;
  text-decoration: underline;
}

.btn {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn-primary {
  color: #fff;
  background-color: #2669c3;
  border-color: #1a55af;
}

.btn-default {
  color: #005bdf;
  background-color: #fff;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}
.btn-default:hover, .btn-default:focus, .btn-default:active,  .dropdown-toggle.btn-default {
  color: #2669c3;
  background-color: #d9f1ff;
  border-color: #2669c3;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #427dd7;
  border-color: #2669c3;
}

/* Estilo geral para notificações */
.notification {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    text-align: left;
}

/* Estilo específico para notificações de erro */
.notification.is-danger {
    color: #a94442; 
    background-color: #f2dede; 
    border-color: #ebccd1; 
}

.notification.is-danger a {
    color: #a94442; 
    text-decoration: underline;
}
