<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email marketing</title>
    <link rel="stylesheet" href="../static/css/emailEditor.css" />
  </head>
  <body>
    {% extends "inicio.html" %} {% block content %}

    <div class="container-email">
      <div class="discussion-topic-header">
        <h3 id="title_header" class="mb-2">Add a title</h3>
        <input
          class="form-control FormControl-input"
          placeholder="Title"
          autocomplete="off"
          type="text"
          id="title-email"
        />
      </div>

      <div class="body-email">
        <h3 class="f4 mb-2">Add a description</h3>
      </div>
      <div class="Box CommentBox write-selected">
        <div class="tabnav CommentBox-header width-full">
          <div class="tabnav-tabs" role="tablist" aria-label="Add a comment">
            <button
              type="button"
              class="btn-link tabnav-tab"
              id="btn-write"
              data-analytics-event='{"category":"comment_box","action":"WRITE_TAB","label":null}'
              aria-selected="true"
              tabindex="0"
              onclick="writeText()"
            >
              Write
            </button>
            <button
              type="button"
              class="btn-link tabnav-tab"
              id="btn-preview"
              data-analytics-event='{"category":"comment_box","action":"PREVIEW_TAB","label":null}'
              aria-selected="false"
              tabindex="-1"
              onclick="previewText()"
            >
              Preview
            </button>
          </div>
          <div
            class="CommentBox-toolbar"
          >
            <div
              class="ActionBar"
              style="overflow: visible"
            >
              <div
                class="ActionBar-item-container"
              >
                <div
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"HEADING","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="0"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M3.75 2a.75.75 0 0 1 .75.75V7h7V2.75a.75.75 0 0 1 1.5 0v10.5a.75.75 0 0 1-1.5 0V8.5h-7v4.75a.75.75 0 0 1-1.5 0V2.75A.75.75 0 0 1 3.75 2Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"BOLD","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M4 2h4.5a3.501 3.501 0 0 1 2.852 5.53A3.499 3.499 0 0 1 9.5 14H4a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1Zm1 7v3h4.5a1.5 1.5 0 0 0 0-3Zm3.5-2a1.5 1.5 0 0 0 0-3H5v3Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div class="ActionBar-item">
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"ITALIC","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M6 2.75A.75.75 0 0 1 6.75 2h6.5a.75.75 0 0 1 0 1.5h-2.505l-3.858 9H9.25a.75.75 0 0 1 0 1.5h-6.5a.75.75 0 0 1 0-1.5h2.505l3.858-9H6.75A.75.75 0 0 1 6 2.75Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"QUOTE","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M1.75 2.5h10.5a.75.75 0 0 1 0 1.5H1.75a.75.75 0 0 1 0-1.5Zm4 5h8.5a.75.75 0 0 1 0 1.5h-8.5a.75.75 0 0 1 0-1.5Zm0 5h8.5a.75.75 0 0 1 0 1.5h-8.5a.75.75 0 0 1 0-1.5ZM2.5 7.75v6a.75.75 0 0 1-1.5 0v-6a.75.75 0 0 1 1.5 0Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"CODE","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="m11.28 3.22 4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L13.94 8l-3.72-3.72a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215Zm-6.56 0a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L2.06 8l3.72 3.72a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L.47 8.53a.75.75 0 0 1 0-1.06Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"LINK","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="m7.775 3.275 1.25-1.25a3.5 3.5 0 1 1 4.95 4.95l-2.5 2.5a3.5 3.5 0 0 1-4.95 0 .751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018 1.998 1.998 0 0 0 2.83 0l2.5-2.5a2.002 2.002 0 0 0-2.83-2.83l-1.25 1.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042Zm-4.69 9.64a1.998 1.998 0 0 0 2.83 0l1.25-1.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-1.25 1.25a3.5 3.5 0 1 1-4.95-4.95l2.5-2.5a3.5 3.5 0 0 1 4.95 0 .751.751 0 0 1-.018 1.042.751.751 0 0 1-1.042.018 1.998 1.998 0 0 0-2.83 0l-2.5 2.5a1.998 1.998 0 0 0 0 2.83Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <hr
                  aria-hidden="true"
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                />
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"ORDERED_LIST","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M5 3.25a.75.75 0 0 1 .75-.75h8.5a.75.75 0 0 1 0 1.5h-8.5A.75.75 0 0 1 5 3.25Zm0 5a.75.75 0 0 1 .75-.75h8.5a.75.75 0 0 1 0 1.5h-8.5A.75.75 0 0 1 5 8.25Zm0 5a.75.75 0 0 1 .75-.75h8.5a.75.75 0 0 1 0 1.5h-8.5a.75.75 0 0 1-.75-.75ZM.924 10.32a.5.5 0 0 1-.851-.525l.001-.001.001-.002.002-.004.007-.011c.097-.144.215-.273.348-.384.228-.19.588-.392 1.068-.392.468 0 .858.181 1.126.484.259.294.377.673.377 1.038 0 .987-.686 1.495-1.156 1.845l-.047.035c-.303.225-.522.4-.654.597h1.357a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5c0-1.005.692-1.52 1.167-1.875l.035-.025c.531-.396.8-.625.8-1.078a.57.57 0 0 0-.128-.376C1.806 10.068 1.695 10 1.5 10a.658.658 0 0 0-.429.163.835.835 0 0 0-.144.153ZM2.003 2.5V6h.503a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1h.503V3.308l-.28.14a.5.5 0 0 1-.446-.895l1.003-.5a.5.5 0 0 1 .723.447Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"UNORDERED_LIST","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M5.75 2.5h8.5a.75.75 0 0 1 0 1.5h-8.5a.75.75 0 0 1 0-1.5Zm0 5h8.5a.75.75 0 0 1 0 1.5h-8.5a.75.75 0 0 1 0-1.5Zm0 5h8.5a.75.75 0 0 1 0 1.5h-8.5a.75.75 0 0 1 0-1.5ZM2 14a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-6a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM2 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"TASK_LIST","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M2 2h4a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1Zm4.655 8.595a.75.75 0 0 1 0 1.06L4.03 14.28a.75.75 0 0 1-1.06 0l-1.5-1.5a.749.749 0 0 1 .326-1.275.749.749 0 0 1 .734.215l.97.97 2.095-2.095a.75.75 0 0 1 1.06 0ZM9.75 2.5h5.5a.75.75 0 0 1 0 1.5h-5.5a.75.75 0 0 1 0-1.5Zm0 5h5.5a.75.75 0 0 1 0 1.5h-5.5a.75.75 0 0 1 0-1.5Zm0 5h5.5a.75.75 0 0 1 0 1.5h-5.5a.75.75 0 0 1 0-1.5Zm-7.25-9v3h3v-3Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <hr
                  aria-hidden="true"
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                />
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"ATTACH_FILES","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M12.212 3.02a1.753 1.753 0 0 0-2.478.003l-5.83 5.83a3.007 3.007 0 0 0-.88 2.127c0 .795.315 1.551.88 2.116.567.567 1.333.89 2.126.89.79 0 1.548-.321 2.116-.89l5.48-5.48a.75.75 0 0 1 1.061 1.06l-5.48 5.48a4.492 4.492 0 0 1-3.177 1.33c-1.2 0-2.345-.487-3.187-1.33a4.483 4.483 0 0 1-1.32-3.177c0-1.195.475-2.341 1.32-3.186l5.83-5.83a3.25 3.25 0 0 1 5.553 2.297c0 .863-.343 1.691-.953 2.301L7.439 12.39c-.375.377-.884.59-1.416.593a1.998 1.998 0 0 1-1.412-.593 1.992 1.992 0 0 1 0-2.828l5.48-5.48a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042l-5.48 5.48a.492.492 0 0 0 0 .707.499.499 0 0 0 .352.154.51.51 0 0 0 .356-.154l5.833-5.827a1.755 1.755 0 0 0 0-2.481Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-md-button="mention"
                    data-analytics-event='{"category":"comment_box","action":"MENTION","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M4.75 2.37a6.501 6.501 0 0 0 6.5 11.26.75.75 0 0 1 .75 1.298A7.999 7.999 0 0 1 .989 4.148 8 8 0 0 1 16 7.75v1.5a2.75 2.75 0 0 1-5.072 1.475 3.999 3.999 0 0 1-6.65-4.19A4 4 0 0 1 12 8v1.25a1.25 1.25 0 0 0 2.5 0V7.867a6.5 6.5 0 0 0-9.75-5.496ZM10.5 8a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z"
                      ></path>
                    </svg>
                  </button>
                </div>
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: visible"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"REFERENCE","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                    tabindex="-1"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      class="Button-visual"
                    >
                      <path
                        d="M2.75 3.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h2a.75.75 0 0 1 .75.75v2.19l2.72-2.72a.749.749 0 0 1 .53-.22h4.5a.25.25 0 0 0 .25-.25v-2.5a.75.75 0 0 1 1.5 0v2.5A1.75 1.75 0 0 1 13.25 13H9.06l-2.573 2.573A1.458 1.458 0 0 1 4 14.543V13H2.75A1.75 1.75 0 0 1 1 11.25v-7.5C1 2.784 1.784 2 2.75 2h5.5a.75.75 0 0 1 0 1.5ZM16 1.25v4.146a.25.25 0 0 1-.427.177L14.03 4.03l-3.75 3.75a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734l3.75-3.75-1.543-1.543A.25.25 0 0 1 11.604 1h4.146a.25.25 0 0 1 .25.25Z"
                      ></path>
                    </svg></button
                  >
                </div>
                <div
                  data-targets="action-bar.items"
                  class="ActionBar-item"
                  style="visibility: hidden"
                >
                  <button
                    id=""
                    data-analytics-event='{"category":"comment_box","action":"SAVED_Email","label":null}'
                    type="button"
                    class="Button Button--iconOnly"
                  >
                    <svg
                      aria-hidden="true"
                      height="16"
                      viewBox="0 0 16 16"
                      version="1.1"
                      width="16"
                      data-view-component="true"
                      class="Button-visual"
                    >
                      <path
                        d="M6.78 1.97a.75.75 0 0 1 0 1.06L3.81 6h6.44A4.75 4.75 0 0 1 15 10.75v2.5a.75.75 0 0 1-1.5 0v-2.5a3.25 3.25 0 0 0-3.25-3.25H3.81l2.97 2.97a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215L1.47 7.28a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                      ></path>
                    </svg></button
                  >
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="is-default" role="tabpanel">
            <div class="CommentBox-container" >
              <textarea id="bodyEmail" placeholder="Add your description here..." class="FormControl-textarea CommentBox-input CommentBox-input--large" style="max-height: 250px; height: 250px;"></textarea>
            </div>
                     
      
        <div class="optionsButtons pr-2 pl-2 pb-2">
          <div class="border-right pr-2">
            <a href="{{url_for('main.agendar')}}" target="_blank" class="Button--small Button">  <span class="Button-content">
          <span class="Button-visual Button-leadingVisual">
            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-markdown">
        <path d="M14.85 3c.63 0 1.15.52 1.14 1.15v7.7c0 .63-.51 1.15-1.15 1.15H1.15C.52 13 0 12.48 0 11.84V4.15C0 3.52.52 3 1.15 3ZM9 11V5H7L5.5 7 4 5H2v6h2V8l1.5 1.92L7 8v3Zm2.99.5L14.5 8H13V5h-2v3H9.5Z"></path>
    </svg>
          </span>
        <span class="Button-label">Agendar Email</span>
      </span>
    </a>
    </div>
    
    <button type="button" class="Button--small Button">  <span class="Button-content">
          <span class="Button-visual Button-leadingVisual">
            <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"  class="octicon-image">
        <path d="M16 13.25A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25V2.75C0 1.784.784 1 1.75 1h12.5c.966 0 1.75.784 1.75 1.75ZM1.75 2.5a.25.25 0 0 0-.25.25v10.5c0 .138.112.25.25.25h.94l.03-.03 6.077-6.078a1.75 1.75 0 0 1 2.412-.06L14.5 10.31V2.75a.25.25 0 0 0-.25-.25Zm12.5 11a.25.25 0 0 0 .25-.25v-.917l-4.298-3.889a.25.25 0 0 0-.344.009L4.81 13.5ZM7 6a2 2 0 1 1-3.999.001A2 2 0 0 1 7 6ZM5.5 6a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0Z"></path>
    </svg>
          </span>
        <span class="Button-label">Paste, drop, or click to add files</span>
      </span>
    </button>
        </div>
      </div>
      </div>


      <div class="d-flex flex-justify-end flex-items-center flex-wrap gap-1">

        <div class="d-flex flex-justify-end">
          

          <div class="d-flex">
<div class="BtnGroup width-full d-flex">
<button type="submit" class="btn-primary btn">
      <span>Enviar</span>
</button>      

</div>

        </div>
      </div>
    </div>

    {% endblock %}

    <script src="../static/js/emailEditor.js"></script>
  </body>
</html>
