
<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../static/css/inicio.css">
    
</head>
<body>
    <header>
        <div class="container" class="d-flex" >
            <div class="d-flex" id="navBar-left">
                <img src="../../../assets/emailIcon.png" class="emailIcon">
                <p class="projectName">Ferramenta de Disparos</p>
            </div>
            
    <div>
            <ul class="d-flex" id="navList">
                <li>
                 <button id="btn-seeNotify"><img src="../../../assets/sinoIcon.png"></button>
                </li>

                <li>
                    <button class="btn-perfil">
                        <img style="border-radius: 50%; width: 39px; height: 39px;" src="../../../assets/perfilSemFoto.jpg">
                    </button>
                </li>

                <li>
                    <nav id="nav">
                        <button id="btn-config">
                            <img style="width: 30px; height: 30px;"  src="../../../assets/barraIcon.png" alt="Button de menu">
                        </button>
                    
                    <ul id="menu">
                        <li><a href="#">Relatório</a></li>
                        <li><a href="#">Editor de email</a></li>
                        <li><a href="#">Lista de contatos</a></li>
                        <li><a href="#">Agendamento</a></li>
                        <li><a href="#">Segmentação de contatos</a></li>

                    </ul>
                    </nav>
                    
                </li>
            </ul>
    </div>
          
        </div>
    
    </header>

    <script src="../static/js/inicio.js"></script>
</body>
</html>